5203XML/week3/lab/contactlist.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="mylist" type="mylistType"/>
  <xs:complexType name="mylistType">
    <xs:sequence>
      <xs:element name="contact" type="contactType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="contactType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="email" type="xs:string"/>
      <xs:element name="discipline" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>