5203XML/week3/lab/favourite.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="shows" type="showsType"/>
  <xs:complexType name="showsType">
    <xs:sequence>
      <xs:element name="show" type="showType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="showType">
    <xs:sequence>
      <xs:element name="show_title" type="xs:string"/>
      <xs:element name="score" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>