5203XML/week2/song.dtd

<!ELEMENT SONG (TITLE, COMPOSER+, PRODUCER*, PUBLISHER*, LENGTH?, YEAR?, ARTIST+)>
  <!ELEMENT TITLE (#PCDATA)>
  <!ELEMENT COMPOSER (#PCDATA)>
  <!ELEMENT PRODUCER (#PCDATA)>
  <!ELEMENT PUBLISHER (#PCDATA)>
  <!ELEMENT LENGTH (#PCDATA)>
  <!ELEMENT YEAR (#PCDATA)>
  <!ELEMENT ARTIST (#PCDATA)>
  <!ATTLIST SONG id CDATA #IMPLIED>
