5203XML/week3/book.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="bookstore" type="bookstoreType"/>

  <xs:complexType name="authorType">
    <xs:sequence>
      <xs:element type="xs:string" name="first-name" minOccurs="0"/>
      <xs:element type="xs:string" name="last-name" minOccurs="0"/>
      <xs:element type="xs:string" name="name" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="bookstoreType">
    <xs:sequence>
      <xs:element type="bookType" name="book" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="bookType">
    <xs:sequence>
      <xs:element type="xs:string" name="title"/>
      <xs:element type="authorType" name="author"/>
      <xs:element type="xs:string" name="price"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="genre" use="optional"/>
  </xs:complexType>
</xs:schema>